:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.div__chat_window {
  background-image: url('/home/george/Twitch-Overlay/Twitch-overlay/src/images/Chat Window-export.png');
  width: 525px;
  height: 650px;
} */

/* for emotes */
img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p__chat_message {
  display: flex;

  white-space: nowrap;
  overflow: hidden;

  max-width: 650px;
  height: 40px;
  align-items: center;

  animation: fly-in-animation 0.2s ease-out forwards;
}

.div__chat_window {
  transform: translateY(600px);
  
}

.user {
  display: flex;
  flex-direction: column;
  max-width: 80px;
  align-items: center;
}

.username {
  font-size: 12px;
}

.person {
  width: 60px;
  height: auto;
  margin-top: -30px;
}

.user_message {
  font-size: 12px;
}
@keyframes fly-in-animation {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}