:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.div__chat_window {
  background-image: url('/home/george/Twitch-Overlay/Twitch-overlay/src/images/Chat Window-export.png');
  width: 525px;
  height: 650px;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.p__chat_message {
  position: relative;
  animation: fly-in-animation 0.2s ease-out forwards;
  margin: 5px;

}

.div__chat_window {
  display: flex;
  flex-direction: column;
  transform: translateY(600px);
  
}
@keyframes fly-in-animation {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}